@import "tailwindcss";
/*@import "tailwindcss/preflight";
@tailwind utilities;*/
@config "../tailwind.config.js";

* {
  @apply box-border;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}




